header {
  text-align: center;
  height: 64px;
  position: fixed;
  height: 64px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
}

header h1 {
  line-height: 64px;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

header button {
  width: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

header button.left {
  left: 15px;
}

header button.right {
  right: 15px;
}
