.note {
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
  text-align: center;
}

.note h2 {
  margin-bottom: 10px;
}

.note button {
  background: rgba(0, 0, 0, 0.05);
  width: auto;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  padding: 5px 10px;
}
