.star-input {
  display: flex;
  max-width: 100%;
  width: 200px;
}

.star-input * {
  flex: 1;
  text-align: center;
  cursor: pointer;
  font-size: 32px;
}

.star-input i {
  /* color: white; */
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.star-input .active i {
  color: gold;
}

.star-input .active {
  animation-name: bounce-up;
  animation-duration: 150ms;
  animation-fill-mode: forwards;
}

@keyframes bounce-up {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.75);
  }
  10% {
    transform: scale(1);
  }
}
